body, html {
    font-family: sans-serif;
    font-size: 100%;
    height: 100%;
}

.bg {
    background-image: url("/assets/beach.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.modalBackground {
    background-color: #848484;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.modalWrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.modal {
    background-color: #A9D0F5;
    border-radius: 15px;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 70%;
}

.modalBody {
    color: #251833;
    padding: 38px 21px;
}

.modalFooter {
    text-align: center;
}

.button-small {
    background-color: #04B404;
    border-radius: 5px;
    border: solid;
    color: #FFFFFF;
    font-size: 1em;
    padding: 15px 25px;
    text-align: center;
    transition-duration: 0.3s;
}

.button-small:hover {
    background-color: #FFFFFF;
    border-color: #04B404;
    border: solid;
    color: #000000;
    cursor: pointer;
}
